<div class="container-lg">

  <div class="row">
    <div class="col-12">
      <h1>ゲーム一覧</h1>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-12">
      <table class="table text-light table-dark table-striped border border-secondary", style="overflow-y: scroll">
        <% @games.each do |game| %>
          <tr>
            <td>
              <%= link_to game_path(game.id) do %>
                <%= game.game_title %>
              <% end %>
            </td>
            <td>
              <% if user_signed_in? %>
                <% if game.users.include?(current_user) %>
                  <% @following_game_id = game.id %>
                  <%= form_with model: @follow_game, url: follow_game_path(game.id), method: :delete do |f| %>
                    <%= f.submit "フォロー解除" %>
                  <% end %>
                <% else %>
                  <%= form_with model: @follow_game, url: follow_games_path do |f| %>
                    <%= f.hidden_field :game_id, :value => game.id %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>

                    <%= f.submit "フォロー" %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if game.users.include?(current_user) %>
                  フォロー中
                <% end %>
              </td>
              <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>