<div class="row">

  <div class="col-5">
    <div class="row">
      <h1>
        <%= @game.game_title %>
      </h1>
    </div>

    <div class="row">
      <table class="table col-12 text-light">
        <% @game.game_links.each do |game_link| %>
          <tr>
            <td>
              <%= game_link.link_title %>
            </td>

            <td>
              <a href="<%= game_link.link %>">link</a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>


    <% if user_signed_in? %>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <h3>新規投稿</h3>
          </div>

          <div class="row">
            <div class="col-12">
                <%= form_with model: @post, url: posts_path do |f| %>
                  <%= f.hidden_field :game_id, :value => @game.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>

                  <%= f.label :title, "タイトル" %><br />
                  <%= f.text_field :title %><br />

                  <%= f.label :post_text, "本文" %><br />
                  <%= f.text_area :post_text %><br />

                  <%= f.submit "投稿" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>