<div class="row">


  <div class="col-5">

    <div class="row">
      <div>
        <%= link_to user_path(@post.user.id) do %>
          <%= image_tag @post.user.image, size:'30x30' %>
          <%= @post.user.nickname %>
        <% end %>
      </div>

      <h2><%= @post.title %></h2>
    </div>

    <div class="row">
      <p>
        <%= @post.post_text %>
      </p>
    </div>

    <% if user_signed_in? %>
      <% if @post.user_id == current_user.id %>
        <div class="row">
          <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
            <%= f.hidden_field :is_active, :value => false %>
            <%= f.submit "投稿を削除" %>
          <% end %>
        </div>
      <% end %>

      <div class="row">
        <%= form_with model: @comment, url: comments_path do |f| %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>

          <%= f.label :text, "コメント" %>
          <%= f.text_area :text %>

          <%= f.submit "投稿" %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="col-7">
    <% @comments.each do |comment| %>
      <div class="row">
        <% if comment.user.is_active == false %>
          <p>退会済みユーザーのコメントです</p>
        <% elsif comment.is_active == false %>
          <p>削除されたコメントです</p>
        <% else %>
          <div>
            <%= link_to user_path(comment.user.id) do %>
              <%= image_tag comment.user.image, size: '50x50' %><br />
              <%= comment.user.nickname %>
            <% end %>
          </div>
          <div>
            <p><%= comment.text %></p>
          </div>
          <% if comment.user == current_user %>
            <%= form_with model: @comment, url: comment_path(comment.id), method: :patch do |f| %>
              <%= f.hidden_field :is_active, :value => false %>
              <%= f.submit "削除" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>