<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <%= link_to user_path(@post.user.id) do %>
                <% if @post.user.image.attached? %>
                  <div><%= image_tag @post.user.image, size: '30x30', class: 'img-thumbnail' %></div>
                <% else %>
                  <div><%= image_tag '20200501_noimage', size: '30x30', class: 'img-thumbnail' %></div>
                <% end %>
                <%= @post.user.nickname %>
              <% end %>
            </div>
            <div class="col-5">
              <%= link_to game_path(@post.game.id) do %>
                <h5><%= @post.game.game_title %></h5>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <h2><%= @post.title %></h2>
            </div>
            <div class="col-2">
              <% if user_signed_in? %>
                <% if @post.user_id == current_user.id %>
                  <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
                    <%= f.hidden_field :is_active, :value => false %>
                    <%= f.submit "投稿を削除", class: 'btn btn-danger' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="w-100 p-1 border border-dark bg-secondary text-light">
          <p>
            <%= safe_join(@post.post_text.split("\n"),tag(:br)) %>
          </p>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <%= form_with model: @comment, url: comments_path do |f| %>
                  <%= f.hidden_field :post_id, :value => @post.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>

                  <%= f.label :text, "コメント" %><br />
                  <%= f.text_area :text, rows: '5', class: 'w-100' %>
                  <div class="row justify-content-end">
                    <%= f.submit "投稿", class: 'btn btn-info text-dark col-2 mr-3' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-md-6">
      <div class="row">
        <table class="table text-light table-dark table-striped border border-secondary m-2">
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <div class="col-2">
                  <div class="row">
                      <div class="justify-content-center">
                        <% if comment.is_active == true %>
                          <%= link_to user_path(comment.user.id) do %>
                            <% if comment.user.image.attached? %>
                              <div><%= image_tag comment.user.image, size: '30x30', class: 'img-thumbnail' %></div>
                            <% else %>
                              <div><%= image_tag '20200501_noimage', size: '30x30', class: 'img-thumbnail' %></div>
                            <% end %>
                            <%= comment.user.nickname %>
                          <% end %>
                        <% end %>
                      </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="col-8">
                  <div class="row">
                    <div>
                      <% if comment.user.is_active == false %>
                        <p>退会済みユーザーのコメントです</p>
                      <% elsif comment.is_active == false %>
                        <p>削除されたコメントです</p>
                      <% else %>
                        <p><%= safe_join(comment.text.split("\n"),tag(:br)) %></p>
                        <p><%= comment.created_at.strftime("%m月%d日 %H:%M") %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="col-2">
                  <% if comment.user == current_user %>
                    <% if comment.is_active == true %>
                      <%= form_with model: @comment, url: comment_path(comment.id), method: :patch do |f| %>
                        <%= f.hidden_field :is_active, :value => false %>
                        <%= f.submit "削除", class: 'btn btn-danger' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>