<div>
  <h1>
    <%= @game.game_title %>
  </h1>
</div>

<div>
  <div>
    <h2>外部リンク</h2>
  </div>

  <div>
    <table class="table col-4 text-light">
      <tr>
        <th>title</th>
        <th>url</th>
      </tr>

      <% @game_links.each do |game_link| %>
        <tr>
          <td><%= game_link.link_title %></td>
          <td><%= game_link.link %></td>
        </tr>
      <% end %>

    </table>
  </div>

  <div>
    <div>
      <h2>リンクを追加</h2>
    </div>

    <div>
      <%= form_with model: @game_link, url: admin_game_links_path  do |f| %>

        <%= f.label :link_title, "サイト名" %>
        <%= f.text_field :link_title %>

        <%= f.label :link, "URL" %>
        <%= f.text_field :link %>

        <%= f.submit "作成" %>
      <% end %>
    </div>
  </div>

</div>