<div>
  <h1>
    <%= @game.game_title %>
  </h1>
</div>

<div>
  <div>
    <h3>タイトル編集</h3>
  </div>

  <div>
    <%= form_with model: @game, url: admin_game_path, method: :patch do |f| %>
      <%= f.label :game_title, "タイトル" %>
      <%= f.text_field :game_title %>

      <%= f.submit "更新" %>
    <% end %>
  </div>
</div>

<div>

  <div>
    <h2>外部リンク</h2>
  </div>

  <div>

    <table class="table col-4 text-light">

      <tr>
        <th>title</th>
        <th>url</th>
        <th></th>
        <th></th>
      </tr>

      <% @game_links.each do |game_link| %>
        <tr>
          <td><%= game_link.link_title %></td>
          <td><%= game_link.link %></td>
          <td><%= link_to "編集", edit_admin_game_link_path(game_link.id) %></td>
          <td><%= link_to "削除", admin_game_link_path(game_link.id), method: :delete %></td>
        </tr>
      <% end %>

    </table>

  </div>

  <div>

    <div>
      <h2>リンクを追加</h2>
    </div>

    <div>
      <%= form_with model: @game_link, url: admin_game_links_path(game_id: params[:id])  do |f| %>

        <%= f.label :link_title, "サイト名" %>
        <%= f.text_field :link_title %>

        <%= f.label :link, "URL" %>
        <%= f.text_field :link %>

        <%= f.submit "作成" %>
      <% end %>
    </div>

  </div>

</div>