<div class="row">
  <div class="col-6">

    <div>
      <%= link_to admin_user_path(@post.user.id) do %>
        <%= image_tag @post.user.image, size: '40x40' %>
        <%= @post.user.nickname %>
      <% end %>
    </div>

    <div>
      <h3><%= @post.title %></h3>
    </div>

    <div>
      <p><%= @post.post_text %></p>
    </div>

    <div>
      <%= form_with model: @post, url: admin_post_path, method: :patch do |f| %>

        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "公開" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "削除" %>

        <%= f.submit "更新" %>
      <% end %>
    </div>

  </div>

  <div class="col-6">
    <div>
      <table class="table text-light">
        <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to admin_user_path(comment.user.id) do %>
                <%= image_tag comment.user.image, size: '30x30' %>
                <%= comment.user.nickname %>
              <% end %>
            </td>
            <td><%= comment.text %></td>
            <td>
              <% if comment.is_active == true %>
                公開
              <% else %>
                削除
              <% end %>
            </td>
            <td>
              <%= form_with model: comment, url: admin_comment_path(comment.id), method: :patch do |f| %>

                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active, "公開" %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active, "削除" %>

                <%= f.submit "更新" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>