<div>

  <div>
    <h1>ユーザー</h1>
  </div>

  <div>
    <table class="table col-4 text-light">
      <tr>
        <th>id</th>
        <th>ユーザー名</th>
        <th>ステータス</th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>

          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>

          <td>
            <% if user.is_active == true %>
              <%= "有効" %>
            <% else %>
            <%= "退会済み" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>

</div>