<div>
  <div>

    <div>
      <% if current_user.id == @user.id %>
        <h1>マイページ</h1>
      <% else %>
        <h1><%= @user.nickname %>さんのプロフィール</h1>
      <% end %>
    </div>

    <div>
      <%= image_tag @user.image, size: '80x80' %>
    </div>

    <div>
        <% if current_user.id == @user.id %>
          <div>
            <div>
              <h3>登録情報</h3>
            </div>

            <div>

              <table class="table col-5 text-light">

                <tr>
                  <th>氏名</th>
                  <td><%= @user.name %></td>
                </tr>

                <tr>
                  <th>メールアドレス</th>
                  <td><%= @user.email %></td>
                </tr>

                <tr>
                  <th>生年月日</th>
                  <td><%= @user.birth_date %></td>
                </tr>

                <tr>
                  <th>性別</th>
                  <td><%= @user.gender_i18n %></td>
                </tr>

              </table>
            </div>
          </div>
        <% end %>

      <div>

        <div>
          <% if current_user.id == @user.id %>
            <h3>公開プロフィール</h3>
          <% end %>
        </div>

        <div>
          <table class="table col-5 text-light">

            <tr>
              <th>ニックネーム</th>
              <td><%= @user.nickname %></td>
            </tr>

            <% if current_user.id == @user.id %>
              <tr>
                <th>性別の公開</th>
                <td>
                  <% if @user.open_gender == false %>
                    <%= "非公開" %>
                  <% else %>
                    <%= "公開" %>
                  <% end %>
                </td>
              </tr>
            <% else %>
              <% if @user.open_gender == true %>
                <th>性別</th>
                <td><%= @user.gender_i18n %></td>
              <% end %>
            <% end %>

            <tr>
              <th>自己紹介</th>
              <td><%= @user.self_intro %></td>
            </tr>

          </table>
        </div>

      </div>

    </div>
  </div>

  <% if current_user.id == @user.id %>
    <div>
      <%= link_to "編集", edit_user_path(@user.id) %>
    </div>
  <% end %>
</div>