<div>

  <% if admin_signed_in? %>

    <div>
      <h1>LOGO</h1>
    </div>

    <div>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </div>

    <div>
      <%= link_to "ゲーム一覧", admin_games_path %>
    </div>

    <div>
      <%= link_to "ユーザー一覧", admin_users_path %>
    </div>

  <% elsif user_signed_in? %>

    <div>
      <h1>LOGO</h1>
    </div>

    <div>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>

  <% else %>

    <div>
      <h1>LOGO</h1>
    </div>

    <div>
      <%= link_to "新規登録", new_user_registration_path %>

      <%= link_to "ログイン", new_user_session_path %>
    </div>

  <% end %>

</div>