<!DOCTYPE html>
<html>
  <head>
    <title>Sunaba</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #202f55; color: #eedcb3">

    <div class="container-fluid">

      <div class="row">

        <div class="col-2", style="position: fixed; background-color: #203744; height: 100%">
          <%= render 'layouts/sidebar' %>
        </div>

        <div class="col-10 offset-2">
          <%= yield %>
        </div>

      </div>

    </div>

  </body>
</html>
